install.log
test/results/
test/.DS_Store
test/contigs_list.txt
test/fasta_list.txt
test/working_list.txt
src/.DS_Store
.DS_Store
test/workdirs/ebola_comp_contigs_pread/
test/workdirs/
2NG.dN
2NG.dS
2NG.t
4fold.nuc
PhaME-1.sublime-project
PhaME-1.sublime-workspace
lnf
rst
rst1
rub
sftp-config.json
thirdParty/miniconda/
thirdParty/hyphy-2.3.11/
thirdParty/messages.log
thirdParty/evolver.out
thirdParty/errors.log
messages.log
*.log